@charset 'UTF-8';
*{
    font-family: var(--fontFamily);
}
:root{
    --colorBg: #8C1F28;
    --fontFamily: arial;

    --color1: #01415B;
    --color2: #005148;
    --color3: #019587;
    --color4: #A6BC09;
    --color5: #CCEA8D;
    --color6: #591C21;
    --color7: #044040;
    --color8: #D92525;
    --color9:  #F29F05;
    --color10: #000000;
    --color11: #f49d12; 
    --color12: #b2abab;
    --color13: #019587;
    --color14: #ffffff;
    --color15: #01010085;
    --color16: #F27457;
    --color17: #BF665E;
    --color18: #253659;
    --color19: #BF4158;
    --color20: #F2AEC1;
    --color21: #73715C;
    --color22: #563A22;
    --color23: #F18836;
    --color24: #9B7C64;
}
header{
    background-color: var(--color9);
    padding: 30px 0;
    margin-bottom: 20px;
}
body{
    background: linear-gradient(var(--color21),var(--color14) , var(--color14))  bottom ;

    font-family: var(--fontFamily);
}
main{
    margin: 0 auto;
    width: 940px;
}
.atalho{
    position: relative;
    width: 90%vh;
    padding-bottom: 10px;

}
.atalho a:hover{
    color: var(--color23);
}

nav{
    position: absolute;
    top: 20%;
    right: 0;  
}

.listanavegacao{
    flex: auto;
    text-transform: uppercase;
}
nav li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: var(--color10);
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}
a:hover{
    color: var(--color14);
}
.banner{
    width: 100%;
}

.subtitulo-principal{
    text-align: center;
    font-size: 2.5em;
    margin:auto;
    padding-top: 20px;
}
section p{
    text-align: center;
    margin: auto;
}
.mapa{
    text-align: center;
}
.endereco{
    font-size: 1.5em;
    padding: 20px 0;
}
.conteudo-beneficio{
    margin: 10px auto;
    
}
.imagembeneficio{
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}
.qualidadedevida{
    font-style: italic;
    font-weight: bold;
}
.utensilios{
    width: 12%;
    float: left;
    padding-right: 10px;  
}
.conteudocentral{
    margin: auto;
    width: 85%;
    display: flex;
}
.beneficiotexto{
    margin: 90px 0px auto;
    
    text-align: center;
    font-size: 2.5em;
}
main p{
    text-align: left;
    text-indent: 20px;
    padding: 20px 10px;
    width: 90%vh; 
}
.listabeneficio{
    display: flex;
    text-align: left;
    text-align: center;
    margin-bottom: 20px;
}
.bene{
    display: flex;
    background-color: var(--color9); 
    width: 200px;
    height: 200px; 
    font-weight: bold;
    font-size: 1.4em;
    margin: auto;
    border-radius: 50%;
}
.bene:hover{
    color: var(--color14);
}
.videoyoutube{
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}
.mapaconteudo{
    display: flex;
    width: 90%;
    margin: auto;
}
footer{
    background-color: var(--color10);
    color: var(--color14);
    text-align: center;
    font-size: .7em;
    padding-bottom: 10px;
}
.copy{
    text-align: center;
    color: var(--color14);
    font-size: .9em;
}
.endereco{
    font-size: 2.5em;
}
.logofooter:hover{
    transform: rotate(20deg);
}
@media screen and (max-width: 480px){
.caixa,
.listabeneficio,
.conteudo-beneficio,
.subtitulo-principal,
.copy,
.logofooter
.banner{
    width: auto;
}
h1{
    text-align: center;
}
nav{
    position: static;
}
footer
header{
    width: 100%vh;
}
.atalho a{
    font-size: 1em;
}
.bene{
    font-size: .9em;
    width: 100px;
    height: 100px;
}
}

